*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.grandDiv{
    width: 100%;
    height: 100%;
}
/* styling nav */

.nav{
    /* background-color: antiquewhite; */
    height: 70px;
}

.nav ul li{
    display: inline;
}

.logo{
    margin-left: 120px;
    margin-top: 20px;
}

/* motor icon */
._3b2d77d8{
    margin-left: 40px;
}

.motor{
    margin-left: 10px;
}

.property{
    margin-left: 10px;
}

/* styling the stuff of nav2 */

.nav2{
    /* background-color: aqua; */
    height: 70px;
    border-bottom: 1px solid silver;
}

.opt{
    height: 50px;
    width: 270px;
    margin-left: 120px;
    border: 1px solid silver;
    font-size: 17px;
    color: #0f2310;
    padding-left: 30px;
}

.search{
    margin-left: 20px;
    height: 50px;
    width: 700px;
    /* margin-top: 10px; */
    border: 1px solid silver;

}

.btn{
    width: 50px;
    border: 1px solid #0f2310;
    background-color: #0f2310;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}

.login{
    color: #0f2310;
    border-bottom: 2px solid #0f2310;
    margin-left: 30px;
    font-weight: bold;

}

.login:hover{
    border-bottom: hidden;
    transition-delay: 2s;
}

.sell{
    margin-left: 20px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(	https://www.olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg) 10 round;
    /* border-radius: 20px; */
    padding: 5px;
    width: 100px;
    height: 45px;
    font-weight: bold;
    color: #0f2310;
    background-color: transparent;
    /* margin-top: 10px; */
}
/* 
.buttonSpan{
    margin-top: 10px;
    display: inline-block;
  
} */

.plus{
  font-size: larger;
  margin-right: 5px;
}

/* Navbar 2 Styling ended */

.navBar3{
    margin-top: 30px;
    /* background-color: paleturquoise; */
    height: 220px;
    /* margin-right: 100px; */
}

.navBar3 ul li{
    display: inline;
    padding-left: 20px;
    color: #0f2310;
    /* margin-left: 100px; */
}

#allCat{
    margin-left: 100px;
    font-weight: bold;
    font-size: small;
    color: #0f2310;
}

/* Categories Styling start */

.categoriesDiv{
    /* background-color: cadetblue; */
    height: 100px;
    /* margin-bottom: 100px; */
}

.categoriesImagesDiv{
    display: flex;
}

.categories{
    margin-left: 120px;
}

.mobDiv{
    margin-left: 120px;
    margin-top: 20px;
}

.catImgDiv{
    margin-left: 55px;
    margin-top: 20px;
}

.mobCaption{
    margin-left: 8px;
    margin-top: 5px;
    font-weight: bold;
}

/* second categories half div */

.secondCategoriesDiv{
    /* background-color: cadetblue; */
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.secondCategoriesImagesdiv{
    display: flex;
}

.sale{
    display: block;
    margin-left: 20px;
}

.rent{
    display: block;
    margin-left: 20px;
}

.elec{
    display: block;
    margin-left: -10px;
}

.home{
    display: block;
    margin-left: 20px;
}

.app{
    display: block;
    /* margin-left: 20px; */
}

.bikes{
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.buisness{
    display: block;
    margin-left: 5px;
}

.indus{
    display: block;
    margin-left: 3px;
}

.agri{
    display: block;
    margin-left: 5px;
}

.chicken{
    margin-left: 120px;
}

.kids{

    margin-left: 25px;
    margin-top: 5px;
    font-weight: bold;

}

.fur{
    display: block;
    /* margin-left: 3px; */
}

.decor{
    display: block;
    margin-left: -5px;
}

.fashion{
    display: block;
    margin-left: -5px;
}

.beauty{
    display: block;
    margin-left: 5px;
}

.bookSports{
    display: block;
    margin-left: -9px;
}

.hob{
    display: block;
    margin-left: 5px;
}